@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask-linear-gradient {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-bill, #printable-bill * {
    visibility: visible;
  }
  #printable-bill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    color: black;
    z-index: 9999;
  }
}
